{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

    <center><h1>Calculate Your BMR</h1></center>

    <form action="/calculate" method="post" autocomplete="off">
        <select class="form-select" aria-label="Default select example" name="gender">
          <center><option selected>Choose gender at birth</option></center>
          <option value="1">Male</option>
          <option value="2">Female</option>
        </select>

        <div class="form-group">
        </div>
        <div class="form-group">
            <input class="form-control" name="height" placeholder="Enter height (cm)" type="text" autocomplete="off">
        </div>
        <div class="form-group">
            <input class="form-control" name="weight" placeholder="Enter weight (kg)" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="age" placeholder="Enter Age" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Calculate</button>
    </form>



{% endblock %}
