{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <select class="form-select" name="symbol">
            {% for stock in new_portfolio %}
                <option value=stock["stock"]>{{stock["stock"]}}</option>

            {% endfor %}
        </select>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Amount of shares to sell" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

{% endblock %}